body {
  font-family: Roboto, sans-serif;
  font-size: 15px;
  color: #333;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.hidden {
  display: none;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.navbar {
  background-color: #DDF;
  height: 5%;
  min-height: 28px;
  width: 100%;
  text-align: center;
}

.navbar #location {
  margin: 5px;
  position: relative;
  /*margin-bottom: auto;*/
  /*margin-top: auto;*/
  height: 28px;
  /*line-height: 35px;*/
  width: 80%;
}

.navbar #location-btn {
  /*width: 10%;*/
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.labeled-checkbox {
  display: inline;
}

.labeled-checkbox label {
  font-size: small;
  cursor: pointer;
  margin-left: 5px;
}

.image-controls {
  padding: 5px;
  background-color: #DFD;
  height: 25%;
  min-height: 80px;
}

.image-controls .description {
  width: 100%;
  height: 50%;
}

.description textarea {
  /*width: 100%;*/
  width: 70%;
  max-width: 800px;
  height: 100%;
}

.description .info-box {
  text-align: center;
  display: inline-box;
  position: relative;
  top: -30px;
  height: 30px;
  font-size: large;
  width: 70%;
}

.image-controls .labeled-checkbox {
  margin-left: 10px;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

.image-list {
  background-color: #FDD;
  height: 70%;
  padding: 5px;
  min-height: 100px;
  overflow: auto;
}


.image-list-item {
  margin: 4px;
  cursor: pointer;
}

.image-list-item.selected {
  outline: 3px solid orange;
}

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/

@media (max-height: 500px) {
body {
  overflow-y: auto;
}

}